<body>
  <header>
    <nav>
      <div class="maze-header"></div>
      <div class="header">
        <div class="logo-header"><a><img src="./assets/images/header_logo.png"></a></div>
        <div class="balance">Balance ${{balance}}</div>
      </div>
    </nav>
  </header>

  <main>
    <div class="userPad">
      <div>{{username}}</div>
      <div align="center">Choose a service</div>
    </div>

    <div class="main-container">
      <div class="main-options">
        <button type="submit">Deposit</button>
        <button type="submit">Withdraw</button>
        <button type="submit">Transaction Log</button>
      </div>
    </div>
  </main>

</body>