.title{
  text-align: center;
  margin-bottom: 10px;
}

.subtitle{
  text-align: center;
  margin-bottom: 10px;
}

header, footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav{
  background-color: white;
  box-shadow: var(--boxShadowDefault);
  border: 1px solid #e7e7e7;
  margin-bottom: 30px;
}

h3{
  font-weight: normal;
}

.link{
  width: 100%;
  text-align: center;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.twin-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form{
  align-items: center;
  font-size: 15px;
}

form {
  border-radius: 10px;
  margin: 8px 0;
  padding: 10px;
  width: 300px;
  box-shadow: 0 0 16px hsl(0deg 0% 0% / 0.190);
  justify-content: center;
}