<body>
    <header>
      <nav>
        <div class="maze-header"></div>
        <div class="header">
          <div class="logo-header"><a><img src="./assets/images/header_logo.png"></a></div>
          <div class="balance">Balance ${{balance}}</div>
        </div>
      </nav>
    </header>
  
    <main>
        <div class="userPad">
            <div>{{username}}</div>
            <div align="center" class="userPadTitle">Select the amouont you wish to withdraw from this account</div>
          </div>
      
          <div class="main-container">
            <div class="main-options">
              <button type="submit" class="btn-grad" (click)="depositValue(50)">$50</button>
              <button type="submit" class="btn-grad" (click)="depositValue(500)">$500</button>
              <button type="submit" class="btn-grad" (click)="depositValue(2500)">$2.500</button>
              <button type="submit" class="btn-grad" (click)="depositValue(10000)">$10.000</button>
              <button type="submit" class="btn-grad" (click)="depositValue(100000)">$100.000</button>
              <button type="submit" class="btn-grad">Other</button>
            </div>
          </div>
    </main>
  
  </body>