@font-face
{
  font-family: helvetica;
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica");
}

:root{
  --myRed: #EC0000;
  --inputTextBoxColor: #E5E8E8;
  --boxShadowDefault: 0 0 16px hsl(0deg 0% 0% / 0.190);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

app-root {
  width: 100%;
  height: 100%;
}

app-login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

app-create{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header, footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer{
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: var(--boxShadowDefault);
  border: 1px solid #e7e7e7;
  margin-top: 30px;
}

footer p {
  color: #6f7779;
  padding: 15px;
  margin: 0;
  font-size: 0.8em;
}

.alert{
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-danger{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.form {
  border-radius: 10px;
  margin: 8px 0;
  padding: 10px;
  width: 300px;
  box-shadow: 0 0 16px hsl(0deg 0% 0% / 0.190);
  justify-content: center;
}

form {
  border-radius: 10px;
  margin: 8px 0;
  padding: 10px;
  box-shadow: 0 0 16px hsl(0deg 0% 0% / 0.190);
  justify-content: center;
}

img{
  width: 100%;
}

.logo-header{
  width: 145px;
  height: 70px;
  margin-left: 36px;
  display: flex;
  align-items: center;
}

body{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Helvetica, sans-serif;
}

button{
  background-color: var(--myRed);
  border: none;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px;
  color: white;
  border-radius: 10px;
}

a {
  font-size: 15px;
  color: var(--myRed);
}

.errorLabel{
  font-size: 14px;
  width: 100%;
  margin-top: 9px;
  margin-left: 10px;
  color: var(--myRed);
}

input[type=text], input[type=password] {
  width: 100%;
  margin: 8px 0;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid var(--inputTextBoxColor);
  border-radius: 5px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

input[type=checkbox]{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5%;
}