@font-face
{
  font-family: helvetica;
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica");
}

:root{
  --myRed: #EC0000;
  --inputTextBoxColor: #E5E8E8;
  --boxShadowDefault: 0 0 16px hsl(0deg 0% 0% / 0.190);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

app-root {
  width: 100%;
  height: 100%;
}

app-login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

}

app-create{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  background-color: var(--myRed);
  border: 2px solid var(--myRed);
}

header, footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer{
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: var(--boxShadowDefault);
  border: 1px solid #e7e7e7;
  margin-top: 30px;
}

footer p {
  color: #6f7779;
  padding: 15px;
  margin: 0;
  font-size: 0.8em;
}

.alert{
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-danger{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.form {
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  justify-content: center;
}

form {
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  background: white;
}

img{
  width: 100%;
}

.logo-header{
  width: 145px;
  height: 70px;
  margin-left: 36px;
  display: flex;
  align-items: center;
}

html{
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Helvetica, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: blue orange;
  background: #e7e7e7;
}

body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--myRed);    /* color of the scroll thumb */
}

.lds-ellipsis {
  width: auto;
  height: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.lds-ellipsis div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--myRed);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

button{
  background-image: linear-gradient(to right, var(--myRed) 0%, #ce1c22  51%, var(--myRed)  100%);
  text-align: center;
  transition: 0.5s;
  border: none;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px;
  color: white;
  background-size: 200% auto;
}

.btn-grad {
  color: white;            
  display: block;
}

button:disabled {
  background-image: none;
  background-color: #acacac;
  color: white;           
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

a {
  font-size: 15px;
  color: var(--myRed);
}

.errorLabel{
  font-size: 14px;
  width: 100%;
  margin-top: 9px;
  margin-left: 10px;
  color: var(--myRed);
}

input[type=text], input[type=password] {
  width: 100%;
  margin: 8px 0;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid var(--inputTextBoxColor);
  border-radius: 5px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

input[type=checkbox]{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5%;
}